body{
    background-color: rgb(150, 123, 90);
}
header{
    background-color: rgb(188, 216, 207);
}
#li{
    text-decoration: none;
}
#ul{
    text-decoration: none;
}
#a{
    text-decoration: none;
    
}